# Ignore everything
*

# Allow specific files
!app.py
!requirements.txt
!config.py
!FaceVerification.py
!LiveVideo.py
!lipdetection.py
!requirements.txt
!ocr_passport.py
!ocr_id.py
!README.md

# Allow specific directories and their contents
!utils/
!utils/**